/* tělo */

html {
  min-height: 100vh;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.uvod {
  width: 90%;
  background-color: #283e50;
  margin: 20px auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* hlavička */

.obrazek {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
}

.nazev {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 0px;
  padding: 20px 5px;
  color: #ffffff;
  text-align: center;
}

.texty {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0px 20px;
}

.obal {
  max-width: 85%;
  margin: 0px auto;
}

.seznam {
  list-style-position: inside;
  text-align: left;
  max-width: 90%;
  padding: 0px;
}

.odrazka {
  margin-bottom: 15px;
}

.kolecko,
.krizek {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

/* nápovědy */

figure {
  margin: 40px auto;
  width: 85%;
  font-style: italic;
}

.ukazka {
  width: 100%;
}

.popis {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  text-align: center;
  margin: 10px auto 0px;
  width: 90%;
}

/* tlačítka */

.tlacitka {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.tlacitko {
  width: 100%;
}

a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.uvodni {
  background-color: #1fcca4;
  margin-bottom: 2px;
  width: 100%;
}

.zacit {
  background-color: #0197f6;
}

.pravidla {
  background-color: #1fcca4;
  margin-bottom: 2px;
  width: 100%;
}

.pravidla:hover,
.pravidla:focus {
  background-color: #1cbb96;
}

.uvodni:hover,
.uvodni:focus {
  background-color: #1cbb96;
}

.zacit:hover,
.zacit:focus {
  background-color: #0090e9;
}

/* hra */

.stranka {
  max-width: 80vmin;
  margin: 0px auto 50px;
}

.navigace {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hraje {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  text-align: left;
}

.circle {
  border: 2px solid white;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: 3px;
  position: relative;
  top: 3px;
}

.cross {
  width: 50px;
  height: 50px;
  position: relative;
}

.cross::before,
.cross::after {
  content: '';
  display: block;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}

.buttony {
  display: flex;
  align-items: center;
}

.znovu {
  background-color: #0197f6;
}

.domu {
  background-color: #1fcca4;
}

.znovu,
.domu {
  display: flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 0px 3px;
  border-radius: 5px;
}

.domu:hover,
.domu:focus {
  background-color: #1cbb96;
}

.znovu:hover,
.znovu:focus {
  background-color: #0090e9;
}

.pole {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(#615dad, #ffc8da);
  max-width: 80vmin;
  margin-top: 20px;
}

.policko {
  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 8vmin;
  opacity: 0.4;
  border: 1px solid black;
}

.policko:hover,
.policko:focus {
  opacity: 0.7;
}

.board__field--circle {
  background-image: url('images/circle.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.board__field--cross {
  background-image: url('images/cross.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* široká obrazovka */

@media screen and (min-width: 1000px) {
  .uvod {
    width: 80%;
    max-width: 600px;
  }

  .obrukazky {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 0px auto;
  }

  figure {
    width: 48%;
    margin: 40px 0px;
  }

  a {
    padding: 20px;
  }
}
