html {
  min-height: 100vh;
}


body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  justify-content: center;
  margin: 0px;
}

.uvod {
  width: 90%;
  background-color: #283e50;
  margin-top: 20px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  
}

.obrazek {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  width: 100%;
}

.text {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.nazev {
  font-family: 'Lobster', cursive; 
  font-size: 50px;
  margin: 20px 5px;
  color: #ffffff;
  text-align: center;
  
}

.texty {
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.tlacitka {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  width: 100%;
}

a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


.pravidla {
  background-color: #1fcca4;
  margin-bottom: 2px;
  width: 100%;
}

.uvodni {
  background-color: #1fcca4;
  margin-bottom: 2px;
  width: 100%;
}

.zacit {
  background-color: #0197f6;
}

.pravidla:hover,
.pravidla:focus {
  background-color: #1cbb96;
}

.uvodni:hover,
.uvodni:focus {
  background-color: #1cbb96;
}

.zacit:hover,
.zacit:focus {
  background-color: #0090e9;
}

.seznam {
  text-align: left;
  width: 80%;
  margin: 0px auto;
  padding: 0px;
}

.odrazka {
  margin-bottom: 15px;
}

.kolecko, .krizek {
  filter: invert(100%);
  width: 1em;
  height: 1em
}

.ukazka {
  width: 100%;
  margin-top: 40px;
}

.popis {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 950px) {
  .uvod {
    width: 80%;
  }
}
